[Desktop Entry]
Type=Application
Terminal=false
Name=Aletheia
Exec=aletheia_desktop_launcher
Icon=aletheia
StartupWMClass=org.gnome.aletheia
GenericName=Media Player
Categories=AudioVideo;Audio;Player;Video;
