#MUSIC_DIR=/home/<username>/Music/
#SOUND_DIR=/home/<username>/Sounds/
#VIDEO_DIR=/home/<username>/Videos/

#AUDIO_FORMATS=mp3,flac,wav,ogg,wma
#VIDEO_FORMATS=mpg,wmv,avi
#USE_TAGS=true
#PARALLEL_CACHE_ENABLED=false
#PARALLEL_CACHE_JOBS=4
#DISPLAY_ALBUM=false

#VOICE_ENABLED=false
#VOICE_ENGINE=espeak-ng
#LANGUAGE=en
#VOICE_PITCH=0
#VOICE_VOLUME=0.85
#ONLY_VOICE_TITLES=false

#DEFAULT_INTERVAL=0
#DEFAULT_EDO=60
#DEFAULT_EQUALIZER=0:0:0

#DEFAULT_VOLUME=50
#LIMIT_MASTER_VOLUME=100

#COLOR_HIGHLIGHT=ffffff
#COLOR_UNSELECTED=cccccc
#COLOR_PANEL=333333
#COLOR_BACKGROUND=000000

#THEME_ENABLED=true
#THEME_FILE=Slate

#NO_VERTICAL_PADDING=false
#PANELS_ENABLED=true
#TERMINAL=gnome-terminal
#NO_HELP=false
